<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Error Occured!!</h1>
    <p>We'r working on this, Sorry for the inconvenience!</p>

<%- include('includes/end.ejs') %>